* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.searchForm {
  display: flex;
  padding: 15px;
  margin: 10px;
  justify-content: center;
  border: 2px solid cadetblue;
}

.content {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
